html,
body {
  height: 100%;
}

.form-signin {
  max-width: 100vw;
  padding: 1rem;
}


@media (min-width: 576px) {  /* 平板 */
  .form-signin { max-width: 540px; }
}

@media (min-width: 992px) {  /* 桌面 */
  .form-signin { max-width: 960px; }
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
}

.form-signin button, .form-signin input[type="text"]{
  border-radius: 15px;
}

