.close-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 2px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-top: -4px;
}

.close-button .svg-icon {
    width: 14px;
    height: 14px;
    transition-duration: 0.3s;
}

.close-button .svg-icon path {
    fill: white;
}

.close-button:hover {
    width: 90px;
    border-radius: 16px;
    transition-duration: 0.3s;
    background-color: #dc3545;
    align-items: center;
}

.close-button:hover .svg-icon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.close-button::before {
    position: absolute;
    bottom: -20px;
    content: "关闭";
    color: white;
    font-size: 0px;
}

.close-button:hover::before {
    font-size: 12px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.modal-header .close-button {
    margin-right: -8px;
    margin-top: -2px;
} 